<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        Go Back
      </ion-button>
    </ion-buttons>
    <ion-title>List of Files</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item *ngFor="let file of fileList">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ file.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ file.content }}</ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  testing
</ion-footer>